/* Los estilos de tu proyecto */
/* Estilos a Section tarifa*/
#tarifa {
  background-color: #ffc107;
  color: #fff;
}
.row {
  padding: 5rem 0 3rem;
}

.form-group{
  display: flex;
  justify-content: center;
  padding-top: 0.8rem;
  /*outline: 1px solid red;*/
}

#puntoPartida, #puntoDestino{
  background-color: #ffc107;
  border: 1px solid #fff;
  color: #fff;
}
#trazarRuta {
  background-color: #fff;
  font-weight: bold;
  padding: 0.5rem 2rem;
}
.map {
  border: 1px solid #fff;
  display: flex;
  margin-left: 5%;
  padding: 0.7rem;
  width: auto;
}
/* Estilos a Footer*/
footer {
  background-color: #2b2b2b;
  color: #fff;
}
.container-footer {
  padding: 1rem;
}
hr {
  background: #fff;
  font-weight: 500;
}
