/* Los estilos de tu proyecto */
/*estilos generales*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

header {
  height: 7rem;
  padding: 1rem;
  background-color: white;
}

.burguer-menu  span {
  border-radius: 0.3rem;
  border: 0.1rem solid #dddddd;
  font-size: 2rem;
  padding: 0.2rem 0.4rem;
  color: gray;
}

.offset-4 {
  margin-left:33.33%;
}

.bg-taxi {
  background-image: url("../assets/images/taxi.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}

.registro {
  background-color: #ffc107;
  color: white;
  height: 18rem;
  position: absolute;
  right: 0;
  top: 10rem;
}

.btn-registro {
  background-color: white;
  color: black;
  border: none;
}

.text-registro {
  font-size: 2.5rem;
}

.informacion-labcar {
  background-color: #ffc107;
  color: white;
  font-size: 1.5rem;
  padding :2rem 1rem 0 1rem;
}

.img-responsive {
  width: 80vw;
}

.border-white {
  border: 0.1rem solid white;
}

p {
  margin-bottom:0;
}

.bg-conduce {
  background-image: url("../assets/images/conduce.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.conduce {
  background-color: rgba(52, 52, 52, 0.45);
  color: white;
  font-size: 1.5rem;
  padding: 1.5rem;
  height: 25rem;
}

.btn-c {
  background-color: #ffc107;
  border: none;
  font-size: 1.3rem;
  padding: 0.5rem;
  margin-top: 1rem;
}

/*estilo seccion tarifa*/
.tarifa {
  background-color: #ffc107;
  color: white;
  font-size: 1.5rem;
  padding: 2rem 0.7rem;
}

.direction {
  border-radius: 0.4rem;
  border: 1px solid white;
  outline: none;
  margin-left: 0.7rem;
  margin-top: 1rem;
  width: 20rem;
  background-color: transparent;
  color:white;
  font-size: 1.2rem;
  padding: 0.2rem 1rem;
}

.trazarRuta {
  background-color: white;
  color: black;
  border: none;
  border-radius: 0.3rem;
  font-size: 1rem;
  font-weight: 600;
  margin-left: 6rem;
  padding: 0.5rem 1.3rem;
}

.map {
  border: 1px solid white;
  padding: 1rem;
  margin-left: 0.5rem;
}

.map iframe {
  width: 80vw;
  height: 50vh;
}
/*estilos footer*/
footer {
  background-color: #2b2b2b;
  color: #fff;
  padding: 1rem 1.1rem;
  font-size: 1.2rem;
}

footer a{
  color: #fff;
}

footer hr {
  background-color: #fff;
}

.socialnet li{
  font-size: 3.5vw;
  /*margin-left: 2rem;*/
}

.images-app img {
  width:38vw;
}

/*estilo para visualizar el menu-hamburgueza cuando se encuentre en mobile*/
.view-movile {
  display: block;
}
/*estilo para ocultar el menu-hamburgueza cuando se encuentre en tablet y desktop*/
.view-desktop {
  display: none;
}

@media (min-width: 768px){
   .logo-header-mobile {
    position: absolute;
    right: 60rem;
  }

   .nav-link {
    color: grey;
  }
/*modal-inicia secion*/
   .log-in {
     background-color: #20b2aa;
   }

   .img-perfil {
     height: 10rem;
     width: 10rem;
     border-radius: 100%;
     margin-left: 9rem;
   }

   .form-login {
     background-color:#d9d9d9;
     padding: 2rem 1rem;
     border-radius: 0.2rem;
   }

   .input-group {
     margin-bottom: 1rem;
   }

   .btn-default {
     background-color: #ffc107;
     margin-left: 5rem;
   }
/*fin estilos modal-inicio de sesion*/

   .bg-taxi {
    background-image: url("../assets/images/taxi.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center bottom;
  }

  .registro {
    background-color: #ffc107;
    width: 27.7rem;
    padding: 1rem;
    position: absolute;
    left: 50rem;
  }

  .button-r {
    border-radius: 0.3rem;
    border: none;
    padding: 0.3rem;
    background-color: white;
    margin-top: 1rem;
    font-size: 1.1rem;
}

  .form-registry input {
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    width: 8rem;
    padding-top: 1rem;
  }

  /*modal registro*/
  .registration, .be-driver {
    background-color:  #a6a6a6;
  }

  .btn-registro {
    background-color: black;
    color: white;
  }

  .form-inline {
    margin-left: 0.8rem;
    margin-bottom: 0.5rem;
  }

  .btn-redes {
    margin-left: 0.2rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
  }

  .btn-enviar {
    background-color:#4fabc9;
    color: white;
  }

  .btnfooter {
    display: inline-block;
  }

  .informacion-labcar {
    background-color: #ffc107;
    color: white;
    font-size: 1.2rem;
    line-height: 2rem;
    padding-bottom: 2rem;
  }

  .border-white {
    border: none;
  }

  .img-responsive {
    width: 70%;
  }

  .conduce {
    margin-left: 54rem;
  }

  .sel1 {
    font-weight: 600;
  }
/*estilos de la seccion tarifa*/
.map {
  border: 1px solid white;
  padding: 1rem;
  margin-left: 4rem;
}

.map iframe {
  width: 23rem;
  height: 20rem;
}

/*estilos del footer*/
  .global {
    margin-left: 20rem;
  }

  .global-menu {
    position: absolute;
    left: 33rem;
    bottom: 6.5rem;
  }

  .app {
    position: absolute;
    left: 50rem;
    bottom: 7rem;
  }

  /*estilo para visualizar el menu-hamburgueza cuando se encuentre en mobile*/
  .view-movile {
    display: none;
  }
  /*estilo para ocultar el menu-hamburgueza cuando se encuentre en tablet y desktop*/
  .view-desktop {
    display: block;
  }
}
